In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder
import pickle

In [3]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

   RowNumber  CustomerId   Surname  ...  IsActiveMember EstimatedSalary Exited
0          1    15634602  Hargrave  ...               1       101348.88      1
1          2    15647311      Hill  ...               1       112542.58      0
2          3    15619304      Onio  ...               0       113931.57      1
3          4    15701354      Boni  ...               0        93826.63      0
4          5    15737888  Mitchell  ...               1        79084.10      0

[5 rows x 14 columns]

In [4]:
data=data.drop(['RowNumber','CustomerId','Surname'],axis=1)
data

      CreditScore Geography  Gender  ...  IsActiveMember  EstimatedSalary  Exited
0             619    France  Female  ...               1        101348.88       1
1             608     Spain  Female  ...               1        112542.58       0
2             502    France  Female  ...               0        113931.57       1
3             699    France  Female  ...               0         93826.63       0
4             850     Spain  Female  ...               1         79084.10       0
...           ...       ...     ...  ...             ...              ...     ...
9995          771    France    Male  ...               0         96270.64       0
9996          516    France    Male  ...               1        101699.77       0
9997          709    France  Female  ...               1         42085.58       1
9998          772   Germany    Male  ...               0         92888.52       1
9999          792    France  Female  ...               0         38190.78       0

[10000 rows x 11 columns]

In [5]:
# Encode categorical variables
label_encoder_gender= LabelEncoder()
data['Gender'] = label_encoder_gender.fit_transform(data['Gender'])

In [7]:
# One hot encoding

from sklearn.preprocessing import OneHotEncoder
onehot_encoder_geo = OneHotEncoder()
geo_encoder = onehot_encoder_geo.fit_transform(data[['Geography']])
geo_encoded_df = pd.DataFrame(geo_encoder.toarray() , columns = onehot_encoder_geo.get_feature_names_out(['Geography']))
geo_encoded_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [8]:
## Combine one hot encoder columns with the original data

data = pd.concat([data.drop('Geography', axis = 1), geo_encoded_df], axis = 1)
data

      CreditScore  Gender  ...  Geography_Germany  Geography_Spain
0             619       0  ...                0.0              0.0
1             608       0  ...                0.0              1.0
2             502       0  ...                0.0              0.0
3             699       0  ...                0.0              0.0
4             850       0  ...                0.0              1.0
...           ...     ...  ...                ...              ...
9995          771       1  ...                0.0              0.0
9996          516       1  ...                0.0              0.0
9997          709       0  ...                0.0              0.0
9998          772       1  ...                1.0              0.0
9999          792       0  ...                0.0              0.0

[10000 rows x 13 columns]

In [9]:
X = data.drop('EstimatedSalary',axis=1)
y = data['EstimatedSalary']

In [10]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2,random_state=42)

# Scale these features
scaler= StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.fit_transform(X_test)

In [11]:
with open('label_encoder_gender.pkl', 'wb') as file:
    pickle.dump(label_encoder_gender, file)
with open('onehot_encoder_geo.pkl', 'wb') as file:
    pickle.dump(onehot_encoder_geo, file)
with open('scaler.pkl','wb') as file:
    pickle.dump(scaler, file)

# ANN Regression

1. sequential network
2. dense -> hidden neurons
3. activation function
4. optimizer -> useful for back propogation -> for updating the weights
5. loss function
6. metrics
7. training information -> logs -> folder -> tensorboard -> visualization

In [12]:
# ANN Regression
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping,TensorBoard
import datetime

WARNING:tensorflow:From f:\DataScience\Bank_Neural_network\venv\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

No activation function for output layer

In [ ]:
# build our ANN model
model = Sequential([
    Dense(64,activation='relu',input_shape=(X_train.shape[1],)),  # Hidden Layer1 connected to input layer
    Dense(32,activation='relu'),    ## Hidden layer 2
    Dense(1) ## Output layer
])

WARNING:tensorflow:From f:\DataScience\Bank_Neural_network\venv\Lib\site-packages\keras\src\backend.py:873: The name tf.get_default_graph is deprecated. Please use tf.compat.v1.get_default_graph instead.

In [ ]:
# compile the model
model.compile(optimizer='adam', loss="mean_absolute_error", metrics=['accuracy'])

WARNING:tensorflow:From f:\DataScience\Bank_Neural_network\venv\Lib\site-packages\keras\src\optimizers\__init__.py:309: The name tf.train.Optimizer is deprecated. Please use tf.compat.v1.train.Optimizer instead.

In [ ]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                832

 dense_1 (Dense)             (None, 32)                2080

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 2945 (11.50 KB)
Trainable params: 2945 (11.50 KB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [17]:
# Set up tensorboard to capture the logs
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard

log_dir = "regression_logs/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")
tensorflow_callback= TensorBoard(log_dir=log_dir, histogram_freq=1)

In [18]:
## set up early stoppingv 
early_stopping_callback = EarlyStopping(
                            monitor='val_loss',         # monitor val_loss  
                            patience=10,                 # patience 5 epochs
                            restore_best_weights=True)  #find the best Weights in used epochs and restore

In [ ]:
# Train the model
history = model.fit(
    X_train,
    y_train,
    validation_data=(X_test,y_test),
    epochs=100, # complete cycle of training the network using all the training data
    callbacks=[tensorflow_callback,early_stopping_callback]
)

Epoch 1/100
WARNING:tensorflow:From f:\DataScience\Bank_Neural_network\venv\Lib\site-packages\keras\src\utils\tf_utils.py:492: The name tf.ragged.RaggedTensorValue is deprecated. Please use tf.compat.v1.ragged.RaggedTensorValue instead.

WARNING:tensorflow:From f:\DataScience\Bank_Neural_network\venv\Lib\site-packages\keras\src\engine\base_layer_utils.py:384: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

250/250 [==============================] - 2s 3ms/step - loss: 100361.3281 - accuracy: 0.0000e+00 - val_loss: 98455.4531 - val_accuracy: 0.0000e+00
Epoch 2/100
250/250 [==============================] - 0s 2ms/step - loss: 99417.2500 - accuracy: 0.0000e+00 - val_loss: 96573.7031 - val_accuracy: 0.0000e+00
Epoch 3/100
250/250 [==============================] - 0s 2ms/step - loss: 96193.1797 - accuracy: 0.0000e+00 - val_loss: 91921.8984 - val_accuracy: 0.0000e+00
Epoch 4/100
250/250 [==============================] - 0s 2ms/step - loss: 89999.1328 - accuracy: 0.0000e+00 - val_loss: 84342.4297 - val_accuracy: 0.0000e+00
Epoch 5/100
250/250 [==============================] - 0s 2ms/step - loss: 81267.6172 - accuracy: 0.0000e+00 - val_loss: 75137.9766 - val_accuracy: 0.0000e+00
Epoch 6/100
250/250 [==============================] - 1s 2ms/step - loss: 71634.3359 - accuracy: 0.0000e+00 - val_loss: 66155.4531 - val_accuracy: 0.0000e+00
Epoch 7/100
250/250 [==============================] - 1s 2ms/step - loss: 62950.6719 - accuracy: 0.0000e+00 - val_loss: 59037.1484 - val_accuracy: 0.0000e+00
Epoch 8/100
250/250 [==============================] - 0s 2ms/step - loss: 56720.9766 - accuracy: 0.0000e+00 - val_loss: 54500.7656 - val_accuracy: 0.0000e+00
Epoch 9/100
250/250 [==============================] - 0s 2ms/step - loss: 53078.6016 - accuracy: 0.0000e+00 - val_loss: 52238.8945 - val_accuracy: 0.0000e+00
Epoch 10/100
250/250 [==============================] - 1s 2ms/step - loss: 51420.3828 - accuracy: 0.0000e+00 - val_loss: 51543.2539 - val_accuracy: 0.0000e+00
Epoch 11/100
250/250 [==============================] - 0s 2ms/step - loss: 50824.0000 - accuracy: 0.0000e+00 - val_loss: 51300.1094 - val_accuracy: 0.0000e+00
Epoch 12/100
250/250 [==============================] - 0s 2ms/step - loss: 50590.7891 - accuracy: 0.0000e+00 - val_loss: 51172.8555 - val_accuracy: 0.0000e+00
Epoch 13/100
250/250 [==============================] - 0s 2ms/step - loss: 50455.5273 - accuracy: 0.0000e+00 - val_loss: 51098.5117 - val_accuracy: 0.0000e+00
Epoch 14/100
250/250 [==============================] - 0s 2ms/step - loss: 50365.2070 - accuracy: 0.0000e+00 - val_loss: 51032.2695 - val_accuracy: 0.0000e+00
Epoch 15/100
250/250 [==============================] - 0s 2ms/step - loss: 50296.6211 - accuracy: 0.0000e+00 - val_loss: 50970.2656 - val_accuracy: 0.0000e+00
Epoch 16/100
250/250 [==============================] - 0s 2ms/step - loss: 50236.7422 - accuracy: 0.0000e+00 - val_loss: 50907.2070 - val_accuracy: 0.0000e+00
Epoch 17/100
250/250 [==============================] - 0s 2ms/step - loss: 50179.4648 - accuracy: 0.0000e+00 - val_loss: 50853.6914 - val_accuracy: 0.0000e+00
Epoch 18/100
250/250 [==============================] - 0s 2ms/step - loss: 50130.5234 - accuracy: 0.0000e+00 - val_loss: 50802.3750 - val_accuracy: 0.0000e+00
Epoch 19/100
250/250 [==============================] - 0s 2ms/step - loss: 50085.3945 - accuracy: 0.0000e+00 - val_loss: 50763.1562 - val_accuracy: 0.0000e+00
Epoch 20/100
250/250 [==============================] - 0s 2ms/step - loss: 50045.0391 - accuracy: 0.0000e+00 - val_loss: 50720.6914 - val_accuracy: 0.0000e+00
Epoch 21/100
250/250 [==============================] - 0s 2ms/step - loss: 50004.1914 - accuracy: 0.0000e+00 - val_loss: 50696.5781 - val_accuracy: 0.0000e+00
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 49969.6055 - accuracy: 0.0000e+00 - val_loss: 50665.0312 - val_accuracy: 0.0000e+00
Epoch 23/100
250/250 [==============================] - 0s 2ms/step - loss: 49934.6406 - accuracy: 0.0000e+00 - val_loss: 50633.3750 - val_accuracy: 0.0000e+00
Epoch 24/100
250/250 [==============================] - 0s 2ms/step - loss: 49904.8633 - accuracy: 0.0000e+00 - val_loss: 50607.5742 - val_accuracy: 0.0000e+00
Epoch 25/100
250/250 [==============================] - 0s 2ms/step - loss: 49875.2617 - accuracy: 0.0000e+00 - val_loss: 50586.5586 - val_accuracy: 0.0000e+00
Epoch 26/100
250/250 [==============================] - 0s 2ms/step - loss: 49846.1094 - accuracy: 0.0000e+00 - val_loss: 50554.3438 - val_accuracy: 0.0000e+00
Epoch 27/100
250/250 [==============================] - 0s 2ms/step - loss: 49819.6094 - accuracy: 0.0000e+00 - val_loss: 50539.1836 - val_accuracy: 0.0000e+00
Epoch 28/100
250/250 [==============================] - 0s 2ms/step - loss: 49794.5391 - accuracy: 0.0000e+00 - val_loss: 50519.4961 - val_accuracy: 0.0000e+00
Epoch 29/100
250/250 [==============================] - 0s 2ms/step - loss: 49776.8984 - accuracy: 0.0000e+00 - val_loss: 50505.5703 - val_accuracy: 0.0000e+00
Epoch 30/100
250/250 [==============================] - 0s 2ms/step - loss: 49748.7148 - accuracy: 0.0000e+00 - val_loss: 50499.2188 - val_accuracy: 0.0000e+00
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 49730.3281 - accuracy: 0.0000e+00 - val_loss: 50494.8711 - val_accuracy: 0.0000e+00
Epoch 32/100
250/250 [==============================] - 0s 2ms/step - loss: 49712.1211 - accuracy: 0.0000e+00 - val_loss: 50472.5586 - val_accuracy: 0.0000e+00
Epoch 33/100
250/250 [==============================] - 1s 2ms/step - loss: 49692.7266 - accuracy: 0.0000e+00 - val_loss: 50465.1445 - val_accuracy: 0.0000e+00
Epoch 34/100
250/250 [==============================] - 0s 2ms/step - loss: 49678.0039 - accuracy: 0.0000e+00 - val_loss: 50455.8398 - val_accuracy: 0.0000e+00
Epoch 35/100
250/250 [==============================] - 0s 2ms/step - loss: 49661.8008 - accuracy: 0.0000e+00 - val_loss: 50452.1719 - val_accuracy: 0.0000e+00
Epoch 36/100
250/250 [==============================] - 0s 2ms/step - loss: 49644.7266 - accuracy: 0.0000e+00 - val_loss: 50434.9727 - val_accuracy: 0.0000e+00
Epoch 37/100
250/250 [==============================] - 0s 2ms/step - loss: 49632.6016 - accuracy: 0.0000e+00 - val_loss: 50426.8633 - val_accuracy: 0.0000e+00
Epoch 38/100
250/250 [==============================] - 0s 2ms/step - loss: 49617.5352 - accuracy: 0.0000e+00 - val_loss: 50421.9062 - val_accuracy: 0.0000e+00
Epoch 39/100
250/250 [==============================] - 0s 2ms/step - loss: 49604.1602 - accuracy: 0.0000e+00 - val_loss: 50420.8164 - val_accuracy: 0.0000e+00
Epoch 40/100
250/250 [==============================] - 0s 2ms/step - loss: 49595.3242 - accuracy: 0.0000e+00 - val_loss: 50419.2734 - val_accuracy: 0.0000e+00
Epoch 41/100
250/250 [==============================] - 0s 2ms/step - loss: 49578.2656 - accuracy: 0.0000e+00 - val_loss: 50408.6641 - val_accuracy: 0.0000e+00
Epoch 42/100
250/250 [==============================] - 0s 2ms/step - loss: 49568.2578 - accuracy: 0.0000e+00 - val_loss: 50409.7109 - val_accuracy: 0.0000e+00
Epoch 43/100
250/250 [==============================] - 0s 2ms/step - loss: 49553.7539 - accuracy: 0.0000e+00 - val_loss: 50412.8281 - val_accuracy: 0.0000e+00
Epoch 44/100
250/250 [==============================] - 0s 2ms/step - loss: 49546.2812 - accuracy: 0.0000e+00 - val_loss: 50406.5547 - val_accuracy: 0.0000e+00
Epoch 45/100
250/250 [==============================] - 0s 2ms/step - loss: 49533.2266 - accuracy: 0.0000e+00 - val_loss: 50394.4648 - val_accuracy: 0.0000e+00
Epoch 46/100
250/250 [==============================] - 0s 2ms/step - loss: 49524.1172 - accuracy: 0.0000e+00 - val_loss: 50385.3477 - val_accuracy: 0.0000e+00
Epoch 47/100
250/250 [==============================] - 0s 2ms/step - loss: 49516.8086 - accuracy: 0.0000e+00 - val_loss: 50395.5273 - val_accuracy: 0.0000e+00
Epoch 48/100
250/250 [==============================] - 0s 2ms/step - loss: 49505.4805 - accuracy: 0.0000e+00 - val_loss: 50384.3906 - val_accuracy: 0.0000e+00
Epoch 49/100
250/250 [==============================] - 0s 2ms/step - loss: 49495.9414 - accuracy: 0.0000e+00 - val_loss: 50390.0586 - val_accuracy: 0.0000e+00
Epoch 50/100
250/250 [==============================] - 0s 2ms/step - loss: 49491.8438 - accuracy: 0.0000e+00 - val_loss: 50377.9492 - val_accuracy: 0.0000e+00
Epoch 51/100
250/250 [==============================] - 0s 2ms/step - loss: 49479.3398 - accuracy: 0.0000e+00 - val_loss: 50375.8320 - val_accuracy: 0.0000e+00
Epoch 52/100
250/250 [==============================] - 0s 2ms/step - loss: 49474.1758 - accuracy: 0.0000e+00 - val_loss: 50368.2617 - val_accuracy: 0.0000e+00
Epoch 53/100
250/250 [==============================] - 0s 2ms/step - loss: 49463.5586 - accuracy: 0.0000e+00 - val_loss: 50385.5234 - val_accuracy: 0.0000e+00
Epoch 54/100
250/250 [==============================] - 0s 2ms/step - loss: 49458.0391 - accuracy: 0.0000e+00 - val_loss: 50392.1758 - val_accuracy: 0.0000e+00
Epoch 55/100
250/250 [==============================] - 0s 2ms/step - loss: 49452.7266 - accuracy: 0.0000e+00 - val_loss: 50369.9844 - val_accuracy: 0.0000e+00
Epoch 56/100
250/250 [==============================] - 0s 2ms/step - loss: 49440.3438 - accuracy: 0.0000e+00 - val_loss: 50380.9141 - val_accuracy: 0.0000e+00
Epoch 57/100
250/250 [==============================] - 1s 2ms/step - loss: 49434.3438 - accuracy: 0.0000e+00 - val_loss: 50390.2109 - val_accuracy: 0.0000e+00
Epoch 58/100
250/250 [==============================] - 0s 2ms/step - loss: 49430.1758 - accuracy: 0.0000e+00 - val_loss: 50388.9844 - val_accuracy: 0.0000e+00
Epoch 59/100
250/250 [==============================] - 0s 2ms/step - loss: 49423.5078 - accuracy: 0.0000e+00 - val_loss: 50373.9102 - val_accuracy: 0.0000e+00
Epoch 60/100
250/250 [==============================] - 1s 2ms/step - loss: 49422.2617 - accuracy: 0.0000e+00 - val_loss: 50373.3359 - val_accuracy: 0.0000e+00
Epoch 61/100
250/250 [==============================] - 0s 2ms/step - loss: 49408.2305 - accuracy: 0.0000e+00 - val_loss: 50376.2656 - val_accuracy: 0.0000e+00
Epoch 62/100
250/250 [==============================] - 0s 2ms/step - loss: 49402.5703 - accuracy: 0.0000e+00 - val_loss: 50376.5547 - val_accuracy: 0.0000e+00

In [20]:
%load_ext tensorboard

In [21]:
%tensorboard --logdir regression_logs/fit

In [22]:
## Evaluate the model

test_loss, test_mae = model.evaluate(X_test,y_test)
print(f"Test MAE: {test_mae}")

63/63 [==============================] - 0s 1ms/step - loss: 50368.2617 - accuracy: 0.0000e+00
Test MAE: 0.0

In [23]:
model.save('regression_model.h5')

f:\DataScience\Bank_Neural_network\venv\Lib\site-packages\keras\src\engine\training.py:3103: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(